# TODO: Configurar pasarela de pago (Stripe, PayPal, MercadoPago)
# VITE_STRIPE_PUBLIC_KEY=pk_live_...
# VITE_PAYPAL_CLIENT_ID=...
# VITE_MERCADOPAGO_PUBLIC_KEY=APP_USR-...

# TODO: Configurar correo de notificaciones
# VITE_EMAILJS_SERVICE_ID=...
# VITE_EMAILJS_TEMPLATE_ID=...
# VITE_EMAILJS_PUBLIC_KEY=...

# TODO: URL de descarga del producto digital (Shopify, Gumroad, etc.)
# VITE_DOWNLOAD_URL=https://...